.navbar {
  background-color: white;
  height: 81px;
  z-index: 999;
  position: sticky;
  top: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  max-width: 65%;
  margin: 0 auto;
}

.navbar__left {
  display: flex;
}

.navbar__left > button {
  background-color: white;
  border: none;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 2px solid #ffff;
}

.navbar__categories,
.navbar__categories:hover,
.navbar__categories__active {
  text-decoration: none;
  padding: 10px 15px 36px 15px;
}

.navbar__categories {
  color: $black;
}

.navbar__categories:hover {
  color: $green;
}

.navbar__categories__active {
  color: $green;
  border-bottom: 2px solid $green;
}

.navbar__middle {
  margin-right: 100px;
}

.navbar__right {
  display: flex;
  align-items: center;
}


.currency_arrow {
  margin-top: 5px;
  margin-left: 3px;
}

.dropdown__menu,
.navbar__right__cart {
  margin-left: 22px;
}

.navbar__right__cart {
  cursor: pointer;
}

.navbar__right > button {
  display: flex;
  width: 20px;
  border: none;
  background: none;
  margin-right: 10px;
  margin-bottom: 5px;
}

.navbar__right > button > p {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

.navbar__right > button:hover {
  cursor: pointer;
}

.nav__right__cart__counter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: absolute;
  right: 16.8%;
  top: 29px;
  font-size: 14px;
  padding: 1px 6px;
  border-radius: 50%;
  color: white;
  border-color: black;
  background-color: black;
}
