.plp {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.plp__title {
  font-weight: 400;
  font-size: 42px;
  color: $black;
}

.plp__products {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 386px 386px 386px;
  grid-template-rows: auto;
  column-gap: 44px;
  row-gap: 40px;
}

.background-grey {
  background-color: grey;
}

.sidebar-container {
  position: absolute;
  left: 2%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.attribute-color-container {
  display: flex;
}

.pdp__r-sidebar__attribute-checkbox {
  margin-top: 10px;
}

.default__attributes-checkbox {
  display: flex;
  margin-top: 10px;
}

.attribute-checkbox-label {
  margin-left: 5px;
}

.filters-container > p {
  padding-bottom: 10px;
}

.filters-container > select {
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 34%;
}

input[type="radio"] {
  background-color: #333;
}

input[type="radio"]:checked{
  background-color: orange;
}